.card-img-top {
    transition: transform 0.5s ease;
    max-width: 400px;
    max-height: 400px;
}

.card-img-top:hover {
    transform: scale(1.1);
}
.parent-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
}

.carousel-inner {
    max-width: 75%;/* set the maximum width of the slider */
    margin:0 auto;

}

.carousel-item img {
    max-height: 50% /* set the maximum height of the images */
}
.carousel {
    background-color: #343a40;
}
.carousel-caption {
    background: rgba(0,0,0,0.5);
}