<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html lang="en">
  <head>
      <meta charset="UTF-8">
    <title>Cinema Ticket System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
      <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="jumbotron-fluid bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cinema Ticket Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../../../../../../../Downloads/site/site/cinema-world/home.html"><i class="fa fa-home">Home</i></a>
          </li>
          <li th:if="${token==1}">
            <a  href="/credit" class="nav-link"><i class="fas fa-cash-register" th:text="@{'Balance: '+${balance}+' $'}"></i></a>
          </li>
          <li class="nav-item">
            <a th:if="${token == 0}" class="nav-link" href="/login"><i class="fa fa-user">Log in</i></a>
            <a th:if="${token == 1}" class="nav-link" href="/logoutUser"><i class="fa fa-user">Log Out</i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-6 p-5" style="height: 200px;">
        <h1 class="display-3 font-weight-bold">Films</h1>
        </div>
        <div class="col-6 pt-2">
        <img class="float-right col-6" src="/images/banner-img.png" alt="" width="250px">
      </div>
        <hr class="my-4">
          <div th:each="film : ${films}" class="col-sm-4 pt-5">
            <div class="card">
              <a th:href="@{/session/{id}(id=${film.filmId})}"><img class="card-img-top" th:src="@{'data:image/png;base64,'+${film.image}} " /></a>
              <div class="card-body">
                <h5 class="card-title text-dark" th:text="${film.name}">Movie</h5>
                <p class="card-text text-dark myParagraph"  name="detail" th:text="${film.description}">Description</p>
                <a th:href="@{/session/{id}(id=${film.filmId})}" class="btn btn-primary">Sessions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  <script>
    var paragraphs = document.getElementsByClassName("myParagraph");

    for (var i = 0; i < paragraphs.length; i++) {
      var paragraph = paragraphs[i];
      var maxLength = 120; // Set the maximum character limit

      if (paragraph.innerHTML.length > maxLength) {
        paragraph.innerHTML = paragraph.innerHTML.substring(0, maxLength) + "...";
      }
    }
  </script>
</html>
