<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ticket Sale</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
	<link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cinema Ticket Managment System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../../../../../../../Downloads/site/site/cinema-world/home.html"><i class="fa fa-home">Home</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="filmsPage.html"><i class="fa fa-film">Films</i></a>
        </li>
        <li class="nav-item">
          <a th:if="${token == 0}" class="nav-link" href="login"><i class="fa fa-user">Log in</i></a>
          <a th:if="${token == 1}" class="nav-link" href="logoutUser"><i class="fa fa-user"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </nav> 
  <div class="jumbotron jumbotron-fluid bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-6 p-5" style="height: 200px;">
      <h1 class="display-3 font-weight-bold">FILMS</h1>
      </div>
      <div class="col-6 pt-2">
      <img class="float-right col-6" src="/static/images/banner-img.png" alt="" width="250px">
    </div>
      <hr class="my-4">
        <div th:each="film : ${films}" class="col-sm-4 pt-5">
          <div class="card">
            <a href="index.html"><img class="card-img-top" th:src="@{'data:image/png;base64,'+${film.image}} " /></a>
            <div class="card-body">
              <h5 class="card-title text-dark" th:text="${film.name}">Movie</h5>
              <p class="card-text text-dark"  name="detail" th:text="${film.description}">Lorem Ipsum<a href="#detail">Devamı</a></p>
              <a th:href="@{/session/{id}(id=${film.filmId})}" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="../../../../../../../../Downloads/site/site/cinema-world/images/1page-img4.jpg" alt="Movie 2">
            <div class="card-body">
              <h5 class="card-title text-dark">FILM NAME</h5>
              <p class="card-text text-dark">On yedi yaşındaki Bella Swan annesi Renée evlenince babası Charlie'nin yanında yaşamak üzere küçük bir kasaba olan Forks, Washington'a taşınır. Burada yüz sekiz... <a href="#detail">Devamı</a></p>
              <a href="../../../../../../../../Downloads/site/site/cinema-world/satis.html" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="../../../../../../../../Downloads/site/site/cinema-world/images/1page-img2.jpg" alt="Movie 2">
            <div class="card-body">
              <h5 class="card-title text-dark">Movie 3</h5>
              <p class="card-text text-dark">Buzz Lightyear adlı yeni çıkan oyuncak, Andy'e hediye edilir. Oyuncağı çok seven Andy, eski gözdesi Şerif Woody'e olan ilgisini yitirir. Bir gün Buzz yanlışlıkla pe... <a href="#detail">Devamı</a></p>
              <a href="../../../../../../../../Downloads/site/site/cinema-world/satis.html" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        <div class="col-4 p-3">
          <div class="card">
            <img class="card-img-top" src="../../../../../../../../Downloads/site/site/cinema-world/images/1page-img3.jpg" alt="Movie 4">
            <div class="card-body">
              <h5 class="card-title text-dark">Movie 4</h5>
              <p class="card-text text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lectus quis enim semper bibendum. Praesent eget velit ex. Donec nec arcu in tortor tempus tincidunt eget eu sapien. </p>
              <a href="../../../../../../../../Downloads/site/site/cinema-world/satis.html" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        <div class="col-4 p-3">
          <div class="card">
            <img class="card-img-top" src="../../../../../../../../Downloads/site/site/cinema-world/images/1page-img3.jpg" alt="Movie 4">
            <div class="card-body">
              <h5 class="card-title">Movie 5</h5>
              <p class="card-text text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lectus quis enim semper bibendum. Praesent eget velit ex. Donec nec arcu in tortor tempus tincidunt eget eu sapien.</p>
              <a href="../../../../../../../../Downloads/site/site/cinema-world/satis.html" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        <div class="col-4 p-3">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200.png?text=Movie+4" alt="Movie 4">
            <div class="card-body">
              <h5 class="card-title">Movie 6</h5>
              <p class="card-text text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod lectus quis enim semper bibendum. Praesent eget velit ex. Donec nec arcu in tortor tempus tincidunt eget eu sapien. </p>
              <a href="../../../../../../../../Downloads/site/site/cinema-world/satis.html" class="btn btn-primary">Buy Ticket</a>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
