<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket Sale</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<style>
  body {
    background-color: #343a40;
  }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Cinema Ticket Managment System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/filmsPage"><i class="fa fa-film">Films</i></a>
      </li>
      <li th:if="${token==1}">
        <a  href="/credit" class="nav-link"><i class="fas fa-cash-register" th:text="@{'Balance: '+${balance}+' $'}"></i></a>
      </li>
      <li class="nav-item">
        <a th:if="${token == 0}" class="nav-link" href="/login"><i class="fa fa-user">Log in</i></a>
        <a th:if="${token == 1}" class="nav-link" href="/logoutUser"><i class="fa fa-user">Log Out</i></a>
      </li>
    </ul>
  </div>
</nav>

<div id="carouselExampleControls" style="margin-top: 50px;" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div th:each="film : ${films}" th:classappend="${film.filmId == 1}? 'carousel-item active' : 'carousel-item'">
      <img class="d-block w-100" th:src="@{'data:image/png;base64,'+${film.image}}" alt="Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 th:text="${film.name}"></h5>
        <p th:text="${film.description}"></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div  class="container">
  <div class="row">
    <div class="col-md-12">
      <hr class="my-4" style="background-color: white;">
      <h2 class="text-center" style="color: white;">POPULAR ACTORS</h2>
      <hr class="my-4" style="background-color: white;">
    </div>
  </div>
</div>

<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://s1.1zoom.me/b4850/861/John_Wick_Chapter_2_Men_Keanu_Reeves_Costume_523653_1080x1920.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Keanu Reeves</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://s1.1zoom.me/b4864/995/Ana_de_Armas_Hands_Glance_Brunette_girl_576805_1080x1920.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ana de Armas</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://htc-wallpaper.com/wp-content/uploads/2018/03/deadpool-ryan-renolds-4-1080x1920.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ryan Reynolds</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://wallpaperaccess.com/full/4786251.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Margot Robbie</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://wallpapercave.com/wp/wp5709550.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Robert Downey Jr.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://coolwallpapers.me/picsup/6107570-elizabeth-olsen-celebrities-girls.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Elizabeth Olsen</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer style="background-color: black; color: white;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-4">About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in urna at sapien eleifend commodo. Sed suscipit hendrerit pharetra.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt mr-2"></i> 1234 Main Street, Springfield, USA</li>
          <li><i class="fas fa-envelope mr-2"></i> info@website.com</li>
          <li><i class="fas fa-phone mr-2"></i> +1 234 567 8901</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase mb-4">Follow Us</h5>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; 2023 MyWebsite. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>