<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cinema Ticket System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class=" jumbotron-fluid bg-dark text-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Cinema Ticket Managment System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../../../../../../Downloads/site/site/cinema-world/home.html"><i class="fa fa-home">Home</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/filmsPage"><i class="fa fa-film">Films</i></a>
                    </li>
                    <li th:if="${token==1}">
                        <a  href="/credit" class="nav-link"><i class="fas fa-cash-register" th:text="@{'Balance: '+${balance}+' $'}"></i></a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${token == 0}" class="nav-link" href="/login"><i class="fa fa-user">Log in</i></a>
                        <a th:if="${token == 1}" class="nav-link" href="/logoutUser"><i class="fa fa-user">Log Out</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div >

            <div class="container">
                <div class="row">
                    <img class="card-img-top col-3" th:src="@{'data:image/png;base64,'+${img}} " />
                    <div class="row col-6">
                        <h1 class="col-3" th:text="${film.name}"></h1>
                        <p class="col-12" th:text="${film.description}"></p>
                        <p class="col-12" th:text="@{'Film Duration: '+${film.duration}+' minutes'}"></p>
                        <p class="col-12" th:text="@{'Film Price : '+${film.price}+' $'}"></p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-12">
                    <table class="table text-warning">
                        <thead>
                            <tr>
                                <th>Saloon Number</th>
                                <th>Language</th>
                                <th>Begin Time</th>
                                <th>Saloon Capacity</th>
                                <th>Buy Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ses : ${reqSessions}">
                                <td th:text="${ses.saloon.saloonId}"></td>
                                <td th:text="${ses.film.language}"></td>
                                <td th:text="${#dates.format(ses.beginTime, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="${ses.saloon.capacity}"></td>
                                <td><a th:href="@{/isLogged/{id}(id=${ses.sessionId})}" class="btn btn-primary">Buy</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
