<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Sale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-......" crossorigin="anonymous" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cinema Ticket Managment System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../../../../../../../Downloads/site/site/cinema-world/home.html"><i class="fa fa-home">Home</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="filmsPage.html"><i class="fa fa-film">Films</i></a>
            </li>
            <li class="nav-item">
                <a th:if="${token == 0}" class="nav-link" href="/login"><i class="fa fa-user">Log in</i></a>
                <a th:if="${token == 1}" class="nav-link" href="/logoutUser"><i class="fa fa-user"></i> Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid bg-dark text-light">

    <div class="container">
        <div class="row">
            <img class="card-img-top col-3" th:src="@{'data:image/png;base64,'+${img}} " />
            <div class="row col-6">
                <h1 class="col-3" th:text="${film.name}"></h1>
                <p class="col-12" th:text="${film.description}"></p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-12">
            <table class="table text-warning">
                <thead>
                <tr>
                    <th>Session Id</th>
                    <th>Film Id</th>
                    <th>Saloon Id</th>
                    <th>Buy Ticket</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sessions : ${sessionS}">
                    <td th:text="${sessions.sessionId}"></td>
                    <td th:text="${sessions.film.filmId}"></td>
                    <td th:text="${sessions.saloon.saloonId}"></td>
                    <td> <a th:href="@{/isLogged/{id}(id=${sessions.sessionId})}" class="btn btn-primary">Buy</a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>




</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
